{% layout 'theme' %}

{% comment %}
  <div class="customer reset-password">
    <h1>Reset your password</h1>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <label for="ResetPassword">Password</label>
      <input type="password" name="customer[password]" id="ResetPassword">

      <label for="PasswordConfirmation">Confirm Password</label>
      <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation">

      <button type="submit">Reset Password</button>
    {% endform %}
  </div>
{% endcomment %}

<div class="login-page grid grid-cols-1 md:grid-cols-2 bg-[#1E6C44] min-h-screen">
  <div class="max-h-screen flex items-center justify-center overflow-auto py-12">
    <div class="w-full px-5 mx-auto max-w-164">
      <a href="{{ routes.root_url }}" class="w-31.5 mb-7.5 md:mb-9 block lg:mb-11 xl:mb-12.5">
        <img src="{{ 'login-icon.png' | asset_url }}" class="size-full object-center" alt="Logo">
      </a>

      <p class="text-white text-2xl lg:text-3xl xl:text-[32px] font-medium !leading-[1.25] font-poppins mb-1.4 lg:mb-3">
        Set New Password
      </p>
      <p class="text-[#B7D6C6] text-base md:text-lg xl:text-xl !leading-[1.6]">Must be at least 8 characters</p>

      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="w-full mb-4 lg:mb-5">
          <label
            for="ResetPassword"
            class="block text-white text-lg lg:text-[22px] mb-2 font-medium !leading-[1.25] font-poppins"
          >
            Password*
          </label>
          <div class="relative z-1 mb-3">
            <button
              type="button"
              id="togglePassword"
              class="eyebtn cursor-pointer absolute top-1/2 right-4 -translate-y-1/2 z-2"
            >
              <!-- Eye Icon -->
              <svg
                id="eyeIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
              >
                <path d="M2.68936 7.28269C2.52619 6.90196 2.08528 6.7256 1.70456 6.88877..." fill="white"/>
              </svg>
            </button>
            <input
              id="ResetPassword"
              name="customer[password]"
              placeholder="Enter Password"
              type="password"
              class="w-full text-base md:text-lg lg:text-xl focus:outline-0 !leading-[1.2] text-[#B7D6C6] placeholder:text-[#B7D6C6] border font-poppins border-[#B7D6C6] bg-[#2A7A51] py-4 lg:py-5 px-5 lg:px-6 rounded-lg"
              required
            >
          </div>
        </div>

        <div class="w-full mb-4 lg:mb-5">
          <label
            for="PasswordConfirmation"
            class="block text-white text-lg lg:text-[22px] mb-2 font-medium !leading-[1.25] font-poppins"
          >
            Confirm Password*
          </label>
          <div class="relative z-1 mb-3">
            <button
              type="button"
              id="togglePassword2"
              class="eyebtn cursor-pointer absolute top-1/2 right-4 -translate-y-1/2 z-2"
            >
              <!-- Eye Icon -->
              <svg
                id="eyeIcon2"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
              >
                <path d="M2.68936 7.28269C2.52619 6.90196 2.08528 6.7256 1.70456 6.88877..." fill="white"/>
              </svg>
            </button>
            <input
              id="PasswordConfirmation"
              name="customer[password_confirmation]"
              placeholder="Enter Password"
              type="password"
              class="w-full text-base md:text-lg lg:text-xl focus:outline-0 !leading-[1.2] text-[#B7D6C6] placeholder:text-[#B7D6C6] border font-poppins border-[#B7D6C6] bg-[#2A7A51] py-4 lg:py-5 px-5 lg:px-6 rounded-lg"
              required
            >
          </div>
        </div>

        <div class="w-full mb-4 lg:mb-5">
          <button
            type="submit"
            class="text-[#1F1904] text-base md:text-lg lg:text-xl py-4 lg:py-5 w-full cursor-pointer !leading-[1.2] font-medium font-poppins text-center px-5 rounded-lg bg-[#FFC801]"
          >
            Reset Password
          </button>
        </div>
      {% endform %}
    </div>
  </div>

  <div class="hidden md:flex bg-[#FFC801] justify-end py-13 px-10 h-screen">
    <img class="w-full object-contain h-full" src="{{ 'login-img.png' | asset_url }}" alt="Login Image">
  </div>
</div>
