{% layout 'theme' %}

{% comment %}
  <div class="customer reset-password">
    <h1>Reset your password</h1>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <label for="ResetPassword">Password</label>
      <input type="password" name="customer[password]" id="ResetPassword">

      <label for="PasswordConfirmation">Confirm Password</label>
      <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation">

      <button type="submit">Reset Password</button>
    {% endform %}
  </div>
{% endcomment %}

<div class="login-page grid grid-cols-1 md:grid-cols-2 bg-[#1E6C44] min-h-screen">
  <div class="max-h-screen flex items-center justify-center overflow-auto py-12">
    <div class="w-full px-5 mx-auto max-w-164">
      <a href="{{routes.root_url}}" class="w-full max-w-31.5 mb-7.5 md:mb-9 block lg:mb-11 xl:mb-12.5">
        <img src="{{'login-icon.png' |  asset_url}}" class="size-full object-center" alt="" width="" height="">
      </a>
      <p class="text-white text-2xl lg:text-3xl xl:text-[32px] font-medium !leading-[1.25] font-poppins mb-1.4 lg:mb-3">
        Set New Password
      </p>
      <p class="text-[#B7D6C6] text-base md:text-lg xl:text-xl !leading-[1.6]">Must be at least 8 character</p>

      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}
        <div class=" my-6 lg:my-8 xl:my-10">
          <div class="w-full mb-4 lg:mb-5 ">
            {%- render 'password-input' -%}
          </div>
          <div class="w-full mb-4 lg:mb-5 ">
            {%- render 'conform-password-input' -%}
          </div>
          <div class="w-full mb-4 lg:mb-5">
            <button
              type="submit"
              class="text-[#1F1904] text-base md:text-lg lg:text-xl py-4 lg:py-5 w-full cursor-pointer !leading-[1.2] font-medium font-poppins text-center px-5 rounded-lg bg-primary transition-all duration-300 hover:bg-white"
            >
              Reset Password
            </button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
  <div class="hidden md:flex bg-primary justify-end py-13 px-10 h-screen">
    <img class="w-full object-contain h-full" src="{{'login-img.png' |  asset_url}}" alt="" width="100" height="100">
  </div>
</div>
