<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'output.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.getElementById('menuToggle');
        const close = document.getElementById('menuClose');
        const menu = document.getElementById('mobileMenu');

        toggle.addEventListener('click', () => {
          menu.classList.remove('hidden');
        });

        close.addEventListener('click', () => {
          menu.classList.add('hidden');
        });

        menu.addEventListener('click', (e) => {
          if (e.target === menu) {
            menu.classList.add('hidden');
          }
        });
      });
    </script>
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
