<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'output.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {{ 'swiper-bundle-min.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'main.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper-bundle-min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.js' | asset_url }}" defer></script>
    <script async src="https://cdn.judge.me/widgets/platform.js"></script>

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.getElementById('menuToggle');
        const close = document.getElementById('menuClose');
        const menu = document.getElementById('mobileMenu');
        const panel = document.getElementById('mobileMenuPanel');

        toggle.addEventListener('click', () => {
          menu.classList.remove('hidden');
          setTimeout(() => {
            panel.classList.remove('-translate-x-full');
            panel.classList.add('translate-x-0');
          }, 10);
        });

        close.addEventListener('click', () => {
          panel.classList.add('-translate-x-full');
          panel.classList.remove('translate-x-0');
          setTimeout(() => {
            menu.classList.add('hidden');
          }, 300); // match duration-300
        });

        menu.addEventListener('click', (e) => {
          if (e.target === menu) {
            panel.classList.add('-translate-x-full');
            panel.classList.remove('translate-x-0');
            setTimeout(() => {
              menu.classList.add('hidden');
            }, 300);
          }
        });
      });
    </script>
  </head>

  <body>
    {%- if template != 'customers/login'
      and template != 'customers/register'
      and request.page_type != 'customers_reset_password'
    -%}
      {% sections 'header-group' %}
    {%- endif -%}
    {{ content_for_layout }}
    {%- if template != 'customers/login'
      and template != 'customers/register'
      and request.page_type != 'customers_reset_password'
    -%}
      {% sections 'footer-group' %}
    {%- endif -%}
  </body>
</html>
