<!-- templates/404.liquid -->
<div class="404 page py-10 md:py-16 lg:py-20 xl:py-25 2xl:py-30">
  <div class="container">
    <div class="w-full md:w-10/12 xl:w-7/12 mx-auto relative z-1 pt-32 md:pt-55 lg:pt-65">
      {% if section.settings.page404 != blank %}
        <img
          src="{{'page404.png' |  asset_url}}"
          class="size-55 md:size-70 lg:size-80 left-1/2 -translate-x-1/2 top-0 -z-1 absolute"
          alt="404 Image"
          width=""
          height=""
        >
      {% endif %}

      <div class="text-center">
        <h5 class="text-green text-3xl lg:text-4xl x3l:text-[52px] !leading-[1.25] font-bold font-armany-bold mb-4 lg:mb-5">
          {{ settings.page404_heading | default: 'Oops! This Page Got Lost in the Roots.' }}
        </h5>

        <p class="text-[#797375] text-lg lg:text-xl xl:text-2xl !leading-[1.6] font-poppins mb-5 lg:mb-6">
          {{
            settings.page404_text
            | default: 'It might have been moved, renamed, or doesn’t exist anymore. But don’t worry, your journey to natural beauty doesn’t have to end here.'
          }}
        </p>

        <a href="{{ routes.root_url }}" class="btn !text-[#1F1904]">
          {{ settings.page404_button_text | default: 'Return to Home' }}
        </a>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "404 Page Settings",
  "settings": [
    {
      "type": "image_picker",
      "id": "page404",
      "label": "404 Page Image"
    },
    {
      "type": "text",
      "id": "page404_heading",
      "label": "Heading",
      "default": "Oops! This Page Got Lost in the Roots."
    },
    {
      "type": "textarea",
      "id": "page404_text",
      "label": "Description",
      "default": "It might have been moved, renamed, or doesn’t exist anymore. But don’t worry, your journey to natural beauty doesn’t have to end here."
    },
    {
      "type": "url",
      "id": "page404_button_link",
      "label": "Button Link",
      "default": "/collections"
    },
    {
      "type": "text",
      "id": "page404_button_text",
      "label": "Button Text",
      "default": "Return to Home"
    }
  ]
}
{% endschema %}
