{% if section.settings.product != blank %}
  {% assign product = all_products[section.settings.product] %}
  <section class="best-seller bg-[#B7D6C6] py-10 md:py-14 lg:py-20 xl:py-25">
    <div class="container">
      <div class="w-full 2xl:w-10/12 mx-auto">
        <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap gap-4 items-center justify-between w-full">
          <div class="w-full md:w-1/2 xl:w-5/12 order-2 md:order-1">
            <div class="xl:ml-10 size-full lg:h-135.5 lg:w-110.5 shadow-[-8px_-10px_#FFC801] rounded-lg lg:rounded-[10px] lg:shadow-[-10px_-10px_#FFC801]">
              <img
                src="{{ product.featured_image |  image_url}}"
                width=""
                height=""
                alt="{{ product.title }}"
                class="size-full"
              >
            </div>
          </div>
          <div class="w-full md:w-1/2 xl:w-6/12 mb-8 md:mb-0 order-1 md:order-2">
            <div class=" xl:mr-10">
              <h4 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green !leading-[1.25] font-bold font-armany-bold mb-4">
                Our Best Seller - {{ product.title }}
              </h4>
              <p class="text-base md:text-lg lg:text-xl font-poppins !leading-[1.6] text-para mb-5">
                {{ product.description }}
              </p>
              
              <div class="flex items-center gap-5 mt-3.5">
                <a href="#" class="btn flex items-center gap-3"
                  >Shop Now
                  <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                <p class="text-xl lg:text-[26px] text-[#1F1904] font-semibold !leading-[1.2] font-poppins">
                  ${{ product.price }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% schema %}
{
  "name": "Best Seller Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Best Seller Product"
    }
  ]
}
{% endschema %}
