<div class="block-insights py-10 md:py-16 lg:py-20 xl:py-25 bg-[#F0ECDC]">
  <div class="container">
    <div class="mb-5 md:mb-6 lg:mb-9 xl:mb-12.5 flex flex-col md:flex-row flex-wrap md:flex-nowrap md:items-center md:justify-between gap-5">
      <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-start flex-[0_0_auto] text-green !leading-[1.25] font-bold font-armany-bold">
        {{ section.settings.heading }}
      </h2>
      <!-- Tabs Header -->
      <div class="overflow-auto">
        <div class="flex items-center gap-3 lg:gap-4 w-78 md:w-130 lg:w-auto">
          <button
            class="tab-btn flex-[0_0_auto] active-tab text-[#1E6C44] bg-[#1E6C44] cursor-pointer ease-in-out duration-300 text-lg lg:text-xl font-medium !leading-[1.2] font-poppins py-3.5 lg:py-4.5 px-7 lg:px-8 rounded-3xl lg:rounded-[40px]"
            data-tab="all"
          >
            All
          </button>
          {% assign all_tags = '' | split: ',' %}
          {% for article in blogs[section.settings.blog].articles %}
            {% for tag in article.tags %}
              {% unless all_tags contains tag %}
                {% assign all_tags = all_tags | push: tag %}
              {% endunless %}
            {% endfor %}
          {% endfor %}
          {% for tag in all_tags %}
            <button
              class="tab-btn flex-[0_0_auto] text-[#1E6C44] bg-white hover:bg-[#1E6C44] hover:text-white cursor-pointer ease-in-out duration-300 text-lg lg:text-xl font-medium !leading-[1.2] font-poppins py-3.5 lg:py-4.5 px-7 lg:px-8 rounded-3xl lg:rounded-[40px]"
              data-tab="{{ tag }}"
            >
              {{ tag }}
            </button>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Tabs Content -->
    <div class="tabs-wrapper">
      <!-- All Articles -->
      <div class="tab-content block" data-tab="all">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7 xl:gap-8">
          {% for article in blogs[section.settings.blog].articles %}
            <div class="px-3 pt-3 pb-6 bg-white rounded-lg lg:rounded-[10px]">
              {% if article.image %}
                <div class="w-full h-53 md:h-60 lg:h-64 mb-4 md:mb-5 lg:mb-6">
                  {{ article.image | image_url: width: 500 | image_tag: class: 'size-full rounded-[10px]' }}
                </div>
              {% endif %}
              <div class="px-3">
                <div class="flex items-center gap-4 lg:gap-5 mb-2.5 lg:mb-3">
                  {% if article.tags.size > 0 %}
                    <span class="text-sm !leading-[1.2] tracking-[1.64px] uppercase font-poppins text-[#514849] rounded-2xl lg:rounded-[20px] py-2.5 px-4 block bg-[#F0F0F0] border border-[#F0F0F0] max-w-max">
                      {{ article.tags.first }}
                    </span>
                  {% endif %}
                  {% assign words = article.content | strip_html | split: ' ' | size %}
                  {% assign minutes = words | divided_by: 150 %}
                  {% if minutes < 1 %}
                    {% assign minutes = 1 %}
                  {% endif %}
                  <p class="text-[#103C25] text-sm m !leading-[1.2] tracking-[1.64px] uppercase font-poppins">
                    {{ minutes }} min read
                  </p>
                </div>
                <h6 class="text-[#0D2E1D] text-xl lg:text-xl font-medium !leading-[1.6] mb-4 lg:mb-5">
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </h6>
                <p class="text-[#514849] text-base lg:text-lg !leading-[1.6] mb-3 lg:mb-4">
                  {{ article.excerpt | strip_html | truncate: 100 }}
                </p>
                <a
                  href="{{ article.url }}"
                  class="text-[#967901] group text-lg lg:text-xl font-medium hover:text-green !leading-[1.2] font-poppins flex items-center gap-2 lg:gap-3"
                >
                  Learn More
                  <span class="group-hover:translate-x-1 transform ease-in-out duration-300">
                    <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Articles by tag -->
      {% for tag in all_tags %}
        <div class="tab-content hidden" data-tab="{{ tag }}">
          <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7 xl:gap-8">
            {% for article in blogs[section.settings.blog].articles %}
              {% if article.tags contains tag %}
                <div class="px-3 pt-3 pb-6 bg-white rounded-lg lg:rounded-[10px]">
                  {% if article.image %}
                    <div class="w-full h-53 md:h-60 lg:h-64 mb-4 md:mb-5 lg:mb-6 object-cover object-top">
                      {{
                        article.image
                        | image_url
                        | image_tag: class: 'size-full rounded-[10px] object-cover object-top'
                      }}
                    </div>
                  {% endif %}
                  <div class="px-3">
                    <div class="flex items-center gap-4 lg:gap-5 mb-2.5 lg:mb-3">
                      <span class="text-sm !leading-[1.2] tracking-[1.64px] uppercase font-poppins text-[#514849] rounded-2xl lg:rounded-[20px] py-2.5 px-4 block bg-[#F0F0F0] border border-[#F0F0F0] max-w-max">
                        {{ tag }}
                      </span>
                      {% assign words = article.content | strip_html | split: ' ' | size %}
                      {% assign minutes = words | divided_by: 150 %}
                      {% if minutes < 1 %}
                        {% assign minutes = 1 %}
                      {% endif %}
                      <p class="text-[#103C25] text-sm m !leading-[1.2] tracking-[1.64px] uppercase font-poppins">
                        {{ minutes }} min read
                      </p>
                    </div>
                    <h6 class="text-[#0D2E1D] text-xl lg:text-xl font-medium !leading-[1.6] mb-4 lg:mb-5">
                      <a href="{{ article.url }}">{{ article.title }}</a>
                    </h6>
                    <p class="text-[#514849] text-base lg:text-lg !leading-[1.6] mb-3 lg:mb-4">
                      {{ article.excerpt | strip_html | truncate: 100 }}
                    </p>
                    <a
                      href="{{ article.url }}"
                      class="text-[#967901] group text-lg lg:text-xl font-medium hover:text-green !leading-[1.2] font-poppins flex items-center gap-2 lg:gap-3"
                    >
                      Learn More
                      <span class="group-hover:translate-x-1 transform ease-in-out duration-300">
                        <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const tabBtns = document.querySelectorAll('.tab-btn');
  const tabContents = document.querySelectorAll('.tab-content');

  tabBtns.forEach((btn) => {
    btn.addEventListener('click', () => {
      tabBtns.forEach((b) => b.classList.remove('bg-[#1E6C44]', 'text-white'), b.classList.add('bg-white','text-[#1E6C44']));
      tabContents.forEach((c) => c.classList.add('hidden'));

      btn.classList.add('bg-[#1E6C44]', 'text-white');
      btn.classList.remove('bg-white','text-[#1E6C44]');
      const tab = btn.dataset.tab;
      document.querySelectorAll(`.tab-content[data-tab="${tab}"]`).forEach(c => c.classList.remove('hidden'));
    });
  });
</script>

{% schema %}
{
  "name": "Insights Blog Section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Get insights from us"
    }
  ]
}
{% endschema %}
