<div class="blog py-17.5 md:py-20 lg:py-25 xl:py-30 2xl:pb-35">
  <div class="container">
     <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-center text-green !leading-[1.25] font-bold font-armany-bold mb-5 md:mb-6 lg:mb-9 xl:mb-12.5 px-5">Take a look at thelatest articles</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 xl:gap-8">
        <div class="p-3 lg:p-4 bg-[#B7D6C6] rounded-lg lg:rounded-[10px] ">
           <div class="mb-8 md:mb-10 lg:mb-12 xl:mb-14.5 mt-5 lg:mt-7 xl:mt-10">
            <div class="flex items-center  gap-4 lg:gap-5 mb-2.5 lg:mb-3.5">
            <span class="text-sm md:text-base !leading-[1.2] tracking-[1.92px] uppercase font-poppins text-white rounded-2xl lg:rounded-[20px] py-2.5 px-4 block bg-[#669F7F] border border-[rgba(255,_255,_255,_0.12)] max-w-max">Nourish</span>
            <p class="text-[#103C25] text-sm md:text-base !leading-[1.2] tracking-[1.92px] uppercase font-poppins">12 min read</p>
           </div>
           <h6 class="text-[#0D2E1D] text-2xl lg:text-3xl xl:text-[32px] font-medium !leading-[1.6] mb-4 lg:mb-5">Discover 5 amazing castor oil benefits for health, beauty, wellness.</h6>
          <p class="text-[#514849] text-base lg:text-lg !leading-[1.6] mb-5 lg:mb-6 xl:mb-8">Discover castor oil’s benefits for health, beauty, and wellness through nature’s pure healing power.</p>
           <a href="#" class=" text-[#967901] text-lg lg:text-xl font-medium hover:!underline !leading-[1.2] font-poppins flex items-center gap-2 lg:gap-3">Learn More <img src="/assets/arrow-left.svg" class="" height="" width="" alt=""></a>
           </div>
           <div class="w-full h-105"><img src="/assets/blog5.png" class="size-full object-cover rounded-[10px]" width="" height="" alt=""></div>
        </div>

        {% comment %} card2 {% endcomment %}
        <div class="p-3 lg:p-4 bg-[#B7D6C6] h-101 flex items-center gap-4 lg:gap-5 xl:gap-6 rounded-lg lg:rounded-[10px]">
          <div class="w-74 h-93 flex-[0_0_auto]"><img src="/assets/blog6.png" class="size-full object-cover rounded-[10px]" width="" height="" alt=""></div>
         <div class="">
            <div class="flex items-center  gap-4 lg:gap-5 mb-2.5 lg:mb-3.5">
            <span class="text-sm md:text-base !leading-[1.2] tracking-[1.92px] uppercase font-poppins text-white rounded-2xl lg:rounded-[20px] py-2.5 px-4 block bg-[#669F7F] border border-[rgba(255,_255,_255,_0.12)] max-w-max">Nourish</span>
            <p class="text-[#103C25] text-sm md:text-base !leading-[1.2] tracking-[1.92px] uppercase font-poppins">12 min read</p>
           </div>
           <h6 class="text-[#0D2E1D] text-2xl lg:text-3xl xl:text-[32px] font-medium !leading-[1.6] mb-4 lg:mb-5">Discover 5 amazing castor oil benefits for health, beauty, wellness.</h6>
          <p class="text-[#514849] text-base lg:text-lg !leading-[1.6] mb-5 lg:mb-6 xl:mb-8">Discover castor oil’s benefits for health, beauty, and wellness through nature’s pure healing power.</p>
           <a href="#" class=" text-[#967901] text-lg lg:text-xl font-medium hover:!underline !leading-[1.2] font-poppins flex items-center gap-2 lg:gap-3">Learn More <img src="/assets/arrow-left.svg" class="" height="" width="" alt=""></a>
           </div>
        </div>

    </div>


  </div>
</div>

{% comment %}
  This section is used in the blog template to render the blog page listing all
  articles within a blog.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/blog
{% endcomment %}

{% comment %} <h1>{{ blog.title }}</h1> {% endcomment %}

{% comment %}
  {% paginate blog.articles by 5 %}
    {% for article in blog.articles %}
      <div>
        {% if article.image %}
          {{ article.image | image_url: width: 1000 | image_tag }}
        {% endif %}
        <h2>
          {{ article.title | link_to: article.url }}
        </h2>
        {% assign date = article.published_at | time_tag: format: 'date' %}
        <p>{{ 'blog.article_metadata_html' | t: date: date, author: article.author }}</p>
        <p>{{ article.excerpt }}</p>
      </div>
    {% endfor %}

    {%- if paginate.pages > 1 -%}
      {{- paginate | default_pagination -}}
    {%- endif -%}
  {% endpaginate %}
{% endcomment %}

{% schema %}
{
  "name": "t:general.blog",
  "settings": []
}
{% endschema %}
