{% assign product1 = all_products[section.settings.layout_1_product] %}
{% assign product2 = all_products[section.settings.layout_2_product] %}
{% assign product3 = all_products[section.settings.layout_3_product] %}

<!-- Layout 1 -->
{% if product1 %}
  <section class="best-seller bg-[#B7D6C6] py-10 md:py-14 lg:py-20 xl:py-25">
    <div class="container">
      <div class="w-full 2xl:w-10/12 mx-auto">
        <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap gap-4 items-center justify-between w-full">
          <div class="w-full md:w-1/2 xl:w-5/12 order-2 md:order-1">
            <div class="xl:ml-10 size-full lg:h-135.5 lg:w-110.5 shadow-[-8px_-10px_#FFC801] rounded-lg lg:rounded-[10px] lg:shadow-[-10px_-10px_#FFC801]">
              <img
                src="{{ product1.featured_image | image_url }}"
                alt="{{ product1.title }}"
                class="size-full"
                width=""
                height=""
              >
            </div>
          </div>
          <div class="w-full md:w-1/2 xl:w-6/12 mb-8 md:mb-0 order-1 md:order-2">
            <div class=" xl:mr-10">
              <h4 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green font-bold mb-4">
                {{ product1.title }}
              </h4>

              <div class="text-base md:text-lg lg:text-xl font-poppins mb-5">
                {% assign description_html = product1.description %}
                {% assign list_items = description_html | split: '<li>' %}

                {% assign only_paragraphs = description_html | remove: '<ul>' | remove: '</ul>' %}
                {% for item in list_items %}
                  {% if item contains '</li>' %}
                    {% assign clean_li = '<li>' | append: item | split: '</li>' | first | append: '</li>' %}
                    {% assign only_paragraphs = only_paragraphs | remove: clean_li %}
                  {% endif %}
                {% endfor %}

                <div class="prose text-para lading-[160%] mb-4">
                  {{ only_paragraphs }}
                </div>

                {% if list_items.size > 1 %}
                  <ul class="mb-6 space-y-2 text-[#1E6C44] font-medium">
                    {% for item in list_items %}
                      {% if item contains '</li>' %}
                        <li class="flex items-center gap-2">
                          <svg
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M22.8262 11.5799V12.4999C22.8249 14.6563 22.1267 16.7545 20.8355 18.4817C19.5443 20.2088 17.7295 21.4723 15.6615 22.0838C13.5936 22.6952 11.3834 22.6218 9.36064 21.8744C7.33785 21.1271 5.61083 19.746 4.43713 17.9369C3.26344 16.1279 2.70596 13.9879 2.84785 11.8362C2.98973 9.68443 3.82338 7.63619 5.22445 5.99694C6.62552 4.35768 8.51896 3.21525 10.6224 2.74001C12.7258 2.26477 14.9264 2.4822 16.8962 3.35986M22.8262 4.49986L12.8262 14.5099L9.82618 11.5099" stroke="#1E6C44" stroke-width="2.1" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          {{ item | split: '</li>' | first | strip }}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

              <div class="flex items-center gap-5 mt-3.5">
                <a
                  href="/cart/{{ product1.selected_or_first_available_variant.id }}:1"
                  class="btn flex items-center gap-3"
                >
                  Shop Now →
                </a>
                <p class="text-xl lg:text-[26px] font-semibold">
                  {{ product1.price | money }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- Layout 2 -->
{% if product2 %}
  <section class=" bg-[#F0ECDC] py-10 md:py-14 lg:py-20 xl:py-25 mt-17.5 md:mt-0">
    <div class="container">
      <div class="w-full 2xl:w-10/12 mx-auto">
        <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap gap-4 items-center justify-between w-full">
          <div class="w-full md:w-1/2 xl:w-6/12 mb-8 md:mb-0 ">
            <div class=" xl:ml-10">
              <h4 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green font-bold mb-4">
                {{ product2.title }}
              </h4>

              <div class="text-base md:text-lg lg:text-xl font-poppins mb-5">
                {% assign description_html = product2.description %}
                {% assign list_items = description_html | split: '<li>' %}

                {% assign only_paragraphs = description_html | remove: '<ul>' | remove: '</ul>' %}
                {% for item in list_items %}
                  {% if item contains '</li>' %}
                    {% assign clean_li = '<li>' | append: item | split: '</li>' | first | append: '</li>' %}
                    {% assign only_paragraphs = only_paragraphs | remove: clean_li %}
                  {% endif %}
                {% endfor %}

                <div class="prose mb-4 text-para text-base lg:text-xl leading-[160%]">
                  {{ only_paragraphs }}
                </div>

                {% if list_items.size > 1 %}
                  <ul class="mb-6 space-y-2 text-[#1E6C44] font-medium">
                    {% for item in list_items %}
                      {% if item contains '</li>' %}
                        <li class="flex items-center gap-2">
                          <svg
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M22.8262 11.5799V12.4999C22.8249 14.6563 22.1267 16.7545 20.8355 18.4817C19.5443 20.2088 17.7295 21.4723 15.6615 22.0838C13.5936 22.6952 11.3834 22.6218 9.36064 21.8744C7.33785 21.1271 5.61083 19.746 4.43713 17.9369C3.26344 16.1279 2.70596 13.9879 2.84785 11.8362C2.98973 9.68443 3.82338 7.63619 5.22445 5.99694C6.62552 4.35768 8.51896 3.21525 10.6224 2.74001C12.7258 2.26477 14.9264 2.4822 16.8962 3.35986M22.8262 4.49986L12.8262 14.5099L9.82618 11.5099" stroke="#1E6C44" stroke-width="2.1" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          {{ item | split: '</li>' | first | strip }}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

              <div class="flex items-center gap-5 mt-3.5">
                <a
                  href="/cart/{{ product2.selected_or_first_available_variant.id }}:1"
                  class="btn flex items-center gap-3"
                >
                  Shop Now →
                </a>
                <p class="text-xl lg:text-[26px] font-semibold">
                  {{ product2.price | money }}
                </p>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 xl:w-5/12 ">
            <div class="xl:ml-10 size-full lg:h-135.5 lg:w-110.5 shadow-[8px_-10px_#FFC801] rounded-lg">
              <img
                src="{{ product2.featured_image | image_url }}"
                width=""
                height=""
                alt="{{ product2.title }}"
                class="size-full rounded-[10px]"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- Layout 3 -->
{% if product3 %}
  <section class="best-seller bg-[#B7D6C6] py-10 md:py-14 lg:py-20 xl:py-25">
    <div class="container">
      <div class="w-full 2xl:w-10/12 mx-auto">
        <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap gap-4 items-center justify-between w-full">
          <div class="w-full md:w-1/2 xl:w-5/12 order-2 md:order-1">
            <div class="xl:ml-10 size-full lg:h-135.5 lg:w-110.5 shadow-[-8px_-10px_#FFC801] rounded-lg">
              <img
                src="{{ product3.featured_image | image_url }}"
                alt="{{ product3.title }}"
                width=""
                height=""
                class="size-full"
              >
            </div>
          </div>
          <div class="w-full md:w-1/2 xl:w-6/12 mb-8 md:mb-0 order-1 md:order-2">
            <div class=" xl:mr-10">
              <h4 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green font-bold mb-4">
                {{ product3.title }}
              </h4>

              <div class="text-base md:text-lg lg:text-xl font-poppins mb-5">
                {% assign description_html = product3.description %}
                {% assign list_items = description_html | split: '<li>' %}

                {% assign only_paragraphs = description_html | remove: '<ul>' | remove: '</ul>' %}
                {% for item in list_items %}
                  {% if item contains '</li>' %}
                    {% assign clean_li = '<li>' | append: item | split: '</li>' | first | append: '</li>' %}
                    {% assign only_paragraphs = only_paragraphs | remove: clean_li %}
                  {% endif %}
                {% endfor %}

                <div class="prose  text-para lading-[160% mb-4">
                  {{ only_paragraphs }}
                </div>

                {% if list_items.size > 1 %}
                  <ul class="mb-6 space-y-2 text-[#1E6C44] font-medium">
                    {% for item in list_items %}
                      {% if item contains '</li>' %}
                        <li class="flex items-center gap-2">
                          <svg
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M22.8262 11.5799V12.4999C22.8249 14.6563 22.1267 16.7545 20.8355 18.4817C19.5443 20.2088 17.7295 21.4723 15.6615 22.0838C13.5936 22.6952 11.3834 22.6218 9.36064 21.8744C7.33785 21.1271 5.61083 19.746 4.43713 17.9369C3.26344 16.1279 2.70596 13.9879 2.84785 11.8362C2.98973 9.68443 3.82338 7.63619 5.22445 5.99694C6.62552 4.35768 8.51896 3.21525 10.6224 2.74001C12.7258 2.26477 14.9264 2.4822 16.8962 3.35986M22.8262 4.49986L12.8262 14.5099L9.82618 11.5099" stroke="#1E6C44" stroke-width="2.1" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          {{ item | split: '</li>' | first | strip }}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

              <div class="flex items-center gap-5 mt-3.5">
                <a
                  href="/cart/{{ product3.selected_or_first_available_variant.id }}:1"
                  class="btn flex items-center gap-3"
                >
                  Shop Now →
                </a>
                <p class="text-xl lg:text-[26px] font-semibold">
                  {{ product3.price | money }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "3 Layout Product Section",
  "settings": [
    {
      "type": "product",
      "id": "layout_1_product",
      "label": "Layout 1 Product"
    },
    {
      "type": "product",
      "id": "layout_2_product",
      "label": "Layout 2 Product"
    },
    {
      "type": "product",
      "id": "layout_3_product",
      "label": "Layout 3 Product"
    }
  ],
  "presets": [
    {
      "name": "3 Layout Product Section"
    }
  ]
}
{% endschema %}
