{% assign product1 = all_products[section.settings.layout_1_product] %}
{% assign product2 = all_products[section.settings.layout_2_product] %}
{% assign product3 = all_products[section.settings.layout_3_product] %}

<!-- Layout 1 -->
{% if product1 %}
  <section class="best-seller layout-1 bg-[#B7D6C6] py-10 md:py-14 lg:py-20 xl:py-25">
    <div class="container">
      <div class="w-full 2xl:w-10/12 mx-auto flex flex-col md:flex-row gap-4 items-center justify-between w-full">
        <div class="w-full md:w-1/2 xl:w-5/12 order-2 md:order-1">
          <img
            src="{{ product1.featured_image | image_url }}"
            alt="{{ product1.title }}"
            class="size-full rounded-lg shadow-md"
          >
        </div>
        <div class="w-full md:w-1/2 xl:w-6/12 order-1 md:order-2">
          <h4 class="text-2xl md:text-3xl lg:text-4xl text-green font-bold mb-4">
            Our Best Seller - {{ product1.title }}
          </h4>
          <p class="mb-4">{{ product1.description | strip_html | truncate: 200 }}</p>
          <div class="flex items-center gap-5 mt-3.5">
            <a href="/cart/{{ product1.selected_or_first_available_variant.id }}:1" class="btn flex items-center gap-3"
              >Shop Now</a
            >
            <p class="text-xl text-[#1F1904] font-semibold">${{ product1.price | money_without_currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- Layout 2 -->
{% if product2 %}
  <section class="best-seller layout-2 bg-[#F0ECDC] py-10 md:py-14 lg:py-20 xl:py-25">
    <div class="container">
      <div class="w-full 2xl:w-10/12 mx-auto flex flex-col md:flex-row-reverse gap-4 items-center justify-between w-full">
        <div class="w-full md:w-1/2 xl:w-5/12">
          <img
            src="{{ product2.featured_image | image_url }}"
            alt="{{ product2.title }}"
            class="size-full rounded-lg shadow-md"
          >
        </div>
        <div class="w-full md:w-1/2 xl:w-6/12">
          <h4 class="text-2xl md:text-3xl lg:text-4xl text-green font-bold mb-4">
            Featured Product - {{ product2.title }}
          </h4>
          <p class="mb-4">{{ product2.description | strip_html | truncate: 200 }}</p>
          <div class="flex items-center gap-5 mt-3.5">
            <a href="/cart/{{ product2.selected_or_first_available_variant.id }}:1" class="btn flex items-center gap-3"
              >Shop Now</a
            >
            <p class="text-xl text-[#1F1904] font-semibold">${{ product2.price | money_without_currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- Layout 3 -->
{% if product3 %}
  <section class="best-seller layout-3 bg-[#B7D6C6] py-10 md:py-14 lg:py-20 xl:py-25">
    <div class="container">
      <div class="w-full 2xl:w-10/12 mx-auto flex flex-col md:flex-row gap-4 items-center justify-between w-full">
        <div class="w-full md:w-1/2 xl:w-5/12 order-2 md:order-1">
          <img
            src="{{ product3.featured_image | image_url }}"
            alt="{{ product3.title }}"
            class="size-full rounded-lg shadow-md"
          >
        </div>
        <div class="w-full md:w-1/2 xl:w-6/12 order-1 md:order-2">
          <h4 class="text-2xl md:text-3xl lg:text-4xl text-green font-bold mb-4">Top Product - {{ product3.title }}</h4>
          <p class="mb-4">{{ product3.description | strip_html | truncate: 200 }}</p>
          <div class="flex items-center gap-5 mt-3.5">
            <a href="/cart/{{ product3.selected_or_first_available_variant.id }}:1" class="btn flex items-center gap-3"
              >Shop Now</a
            >
            <p class="text-xl text-[#1F1904] font-semibold">${{ product3.price | money_without_currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "3 Layout Product Section",
  "settings": [
    {
      "type": "product",
      "id": "layout_1_product",
      "label": "Layout 1 Product"
    },
    {
      "type": "product",
      "id": "layout_2_product",
      "label": "Layout 2 Product"
    },
    {
      "type": "product",
      "id": "layout_3_product",
      "label": "Layout 3 Product"
    }
  ],
  "presets": [
    {
      "name": "3 Layout Product Section"
    }
  ]
}
{% endschema %}
