<div class="footer bg-[#F0ECDC] pt-12.5 md:pt-16 lg:pt-20 xl:pt-25 pb-6 md:pb-7 lg:pb-8 relative z-1">
  <div class="container">
    <div class="flex flex-col md:flex-row justify-between flex-wrap gap-4 md:flex-nowrap mb-8 md:mb-10 lg:mb-14 xl:mb-16 2xl:mb-20">
      <div class="w-full md:w-5/12 xl:w-3/12">
        <div class="">
          {% if section.settings.logo_image %}
            <img
              src="{{ section.settings.logo_image | img_url: '242x84' }}"
              class="w-21 md:w-30 2xl:w-60.5 h-8.5 md:15 2xl:h-21 mb-5"
              width="{{ section.settings.logo_image.width }}"
              height="{{ section.settings.logo_image.height }}"
              alt="{{ section.settings.logo_image.alt | default: shop.name }}"
            >
          {% endif %}
          {% if section.settings.description %}
            <p class="text-sm md:text-base lg:text-lg !leading-[1.6] text-[#514849] font-poppins">
              {{ section.settings.description }}
            </p>
          {% endif %}
        </div>
      </div>

      <div class="w-full md:w-7/12 xl:w-6/12">
        <div class="flex justify-between flex-wrap gap-5 md:gap-0">
          <!-- Pages Menu -->
          {% if section.settings.pages_menu.links.size > 0 %}
            <div class="">
              <p class="text-2xl font-medium !leading-[1.6] text-[#0D2E1D] mb-2">
                {{ section.settings.pages_heading | default: 'Pages' }}
              </p>
              <ul>
                {% for link in section.settings.pages_menu.links %}
                  <li class="mb-2 lg:mb-2.5 group block">
                    <a
                      href="{{ link.url }}"
                      class="text-[#514849] group-hover:text-primary transform ease-in-out duration-300 text-sm lg:text-lg xl:text-2xl !leading-[1.6]"
                    >
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <!-- Policies Menu -->
          {% if section.settings.policies_menu.links.size > 0 %}
            <div class="">
              <p class="text-2xl font-medium !leading-[1.6] text-[#0D2E1D] mb-2">
                {{ section.settings.policies_heading | default: 'Policies' }}
              </p>
              <ul>
                {% for link in section.settings.policies_menu.links %}
                  <li class="mb-2 lg:mb-2.5">
                    <a
                      href="{{ link.url }}"
                      class="text-[#514849] hover:text-primary transform ease-in-out duration-300 text-sm lg:text-lg xl:text-2xl !leading-[1.6]"
                    >
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <div>
            <p class="text-2xl font-medium !leading-[1.6] text-[#0D2E1D] mb-2">Stay Connected</p>
            <ul class="hidden md:block">
              {% if section.settings.instagram_url != blank %}
                <li class="mb-2 lg:mb-2.5">
                  <a href="{{ section.settings.instagram_url }}" target="_blank">Instagram</a>
                </li>
              {% endif %}
              {% if section.settings.facebook_url != blank %}
                <li class="mb-2 lg:mb-2.5">
                  <a href="{{ section.settings.facebook_url }}" target="_blank">Facebook</a>
                </li>
              {% endif %}
              {% if section.settings.twitter_url != blank %}
                <li class="mb-2 lg:mb-2.5"><a href="{{ section.settings.twitter_url }}" target="_blank">Twitter</a></li>
              {% endif %}
              {% if section.settings.tiktok_url != blank %}
                <li class="mb-2 lg:mb-2.5"><a href="{{ section.settings.tiktok_url }}" target="_blank">TikTok</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap items-center justify-between gap-4 pt-5 md:pt-0 border-t md:border-t-0 border-t-[#D1CDCE]">
      <p class="text-[#797375)] md:text-[#514849] text-xl !leading-[1.2] md:!leading-normal order-2 md:order-1">
        {{ section.settings.copyright_text | default: '© 2025 ' | append: '.' }}
      </p>

      {% if section.settings.show_payment_icons %}
        <div class="flex items-center gap-3 lg:gap-2.5 mb-5 md:mb-0 order-1 md:order-2">
          {% for type in shop.enabled_payment_types %}
            <div class="w-11.5 h-8 border-[.8px] border-[#D9D9D9] rounded-[5px]">
              {{ type | payment_type_svg_tag: class: 'size-full rounded-[5px]' }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Background Image -->
  {% if section.settings.background_image %}
    <img
      src="{{ section.settings.background_image | img_url: '328x236' }}"
      class="w-43 md:w-35 lg:w-50 xl:w-82 h-33 md:h-20 lg:h-30 xl:h-59 absolute bottom-[24%] md:bottom-0 right-0 md:left-[40%] lg:left-[30%] xl:left-[24%] -z-1"
      width="{{ section.settings.background_image.width }}"
      height="{{ section.settings.background_image.height }}"
      alt="{{ section.settings.background_image.alt | default: 'Footer Background' }}"
    >
  {% endif %}
</div>

{% schema %}
{
  "name": "Dynamic Footer",
  "tag": "footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "header",
      "content": "Logo & Description"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Footer Logo"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Footer Description",
      "default": "Pure, premium beauty care inspired by nature. USDA Organic, cold-pressed, made in the USA for healthy hair, skin, lashes, and brows."
    },
    {
      "type": "header",
      "content": "Navigation Menus"
    },
    {
      "type": "text",
      "id": "pages_heading",
      "label": "Pages Section Title",
      "default": "Pages"
    },
    {
      "type": "link_list",
      "id": "pages_menu",
      "label": "Pages Menu"
    },
    {
      "type": "text",
      "id": "policies_heading",
      "label": "Policies Section Title",
      "default": "Policies"
    },
    {
      "type": "link_list",
      "id": "policies_menu",
      "label": "Policies Menu"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "text",
      "id": "social_heading",
      "label": "Social Section Title",
      "default": "Stay Connected"
    },
    {
      "type": "header",
      "content": "Bottom Section"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default": "© 2025"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show Payment Icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Footer Background Image"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "twitter_url",
      "label": "Twitter (X) URL"
    },
    {
      "type": "url",
      "id": "tiktok_url",
      "label": "TikTok URL"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    }
  ],

  "presets": [
    {
      "name": "Dynamic Footer",
      "blocks": [
       
      ]
    }
  ]
}
{% endschema %}
