<div class="our-mission py-10 md:py-16 lg:py-25 xl:py-27.5 bg-white">
  <div class="container">
    <div class="w-full xl:w-10/12 mx-auto">
      <div class="flex flex-col md:flex-row md:flex-nowrap items-center gap-5 md:gap-8 3xl:gap-15 flex-wrap">
        <!-- Left Column (Text) -->
        <div class="w-full md:w-1/2 mb-7.5 md:mb-0">
          <div>
            {% if section.settings.heading != blank %}
              <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green !leading-[1.25] font-bold font-armany-bold mb-4 lg:mb-5 xl:mb-6">
                {{ section.settings.heading }}
              </h2>
            {% endif %}

            {% if section.settings.text1 != blank %}
              <p class="text-sm md:text-base lg:text-lg xl:text-xl !leading-[1.6] text-[#0D2E1D] font-medium mb-4 font-poppins">
                {{ section.settings.text1 }}
              </p>
            {% endif %}

            {% if section.settings.text2 != blank %}
              <p class="text-sm md:text-base lg:text-lg !leading-[1.6] text-[#797375] font-poppins">
                {{ section.settings.text2 }}
              </p>
            {% endif %}
          </div>
        </div>

        <!-- Right Column (Image) -->
        <div class="w-full md:w-1/2">
          <div>
            <div class="h-full md:h-100 lg:h-130 xl:h-160 3xl:h-187.5 w-full shadow-[-8px_-10px_#FFC801] rounded-2xl lg:rounded-[20px] lg:shadow-[-10px_-10px_#FFC801]">
              <img
                {% if section.settings.image != blank %}
                  src="{{ section.settings.image | image_url }}"
                {% else %}
                  src="{{ 'ahout3.png' | asset_url }}"
                {% endif %}
                alt="{{ section.settings.heading | escape }}"
                class="size-full rounded-2xl lg:rounded-[20px]"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our Vision Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Vision"
    },
    {
      "type": "textarea",
      "id": "text1",
      "label": "Paragraph 1",
      "default": "We envision a world where clean, organic self-care is the norm, not the exception."
    },
    {
      "type": "textarea",
      "id": "text2",
      "label": "Paragraph 2",
      "default": "Roots aims to inspire a community of individuals who choose products that align with their values — beauty that is conscious, sustainable, and kind to both people and the planet."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Vision Image"
    }
  ],
  "presets": [
    {
      "name": "Our Vision Section"
    }
  ]
}
{% endschema %}
