{% if section.settings.heading != blank or section.blocks.size > 0 %}
  <div class="why-choose py-17.5 md:py-22 lg:py-28 xl:py-35 2xl:pt-37.5">
    <div class="container">
      {% if section.settings.heading != blank %}
        <div class="flex justify-center mb-10 md:mb-12 lg:mb-15">
          <div class="section-title text-center w-full md:w-8/12 xl:w-4/12">
            <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green !leading-[1.25] font-bold font-armany-bold mb-3">
              {{ section.settings.heading }}
            </h2>
            {% if section.settings.subheading != blank %}
              <p class="lg:px-10 text-base md:text-lg lg:text-xl font-poppins !leading-[1.6] text-secondary">
                {{ section.settings.subheading }}
              </p>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8.5 lg:gap-8 w-full 2xl:w-11/12 mx-auto">
          {% for block in section.blocks %}
            <div class="text-center px-3 md:px-0 lg:px-2 2xl:px-5 3xl:px-8">
              {% if block.settings.icon_svg != blank %}
                <span class="size-13 lg:size-17 flex items-center justify-center rounded-full bg-[#B7D6C6] mb-2.5 md:mb-4 lg:mb-7 xl:mb-8.5 mx-auto">
                  <img
                    src="{{ block.settings.icon_svg |  img_url }}"
                    width=""
                    height=""
                    alt="{{ block.settings.title }}"
                  >
                </span>
              {% endif %}

              {% if block.settings.title != blank %}
                <h6 class="text-base md:text-lg xl:text-2xl text-green font-medium !leading-[1.6] mb-2 md:mb-3 lg:mb-4">
                  {{ block.settings.title }}
                </h6>
              {% endif %}
              {% if block.settings.description != blank %}
                <p class="text-sm md:text-lg !leading-[1.6] text-secondary">
                  {{ block.settings.description }}
                </p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Why Choose Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Why Choose Roots?"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Section Subheading",
      "default": "Encourages natural volume, supporting thicker, healthier hair growth."
    }
  ],
  "blocks": [
    {
      "type": "choose_item",
      "name": "Choose Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_svg",
          "label": "SVG Icon",
          "info": "Paste your SVG code here"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Item Title",
          "default": "Strengthens & Promotes Growth"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Item Description",
          "default": "Our organic castor oil nourishes from scalp to tip, reducing breakage and promoting stronger, healthier growth."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Why Choose Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
